.myInputDiv{
    margin-right:10%;
    margin-left: 10%;
}

.marginTop{
    margin-top:10%;
}

.myInput{
    height: 40px !important;
    border-radius: 0% !important;
    background-color: #fff !important;
    color:#151515 !important;
    border:0 !important;
    border-bottom: 1px solid #4f4f4f !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myInput:hover,.myInput:focus{
    border-radius: 0% !important;
    background-color: #fff !important;
    color:#151515 !important;
    border:0 !important;
    border-bottom: 1px solid #1E88E5 !important;
    outline-color: transparent !important;
    outline-style: none !important;
    -webkit-transition: border-bottom 0.5s;
}

.myButton{
    /* border-0 in bootstrap*/
    border-radius: 0% !important;
    padding:15px 50px 15px 50px !important;
    min-width:250px;
}

.myButton:hover{
  
}